
<div class="hero-head">
    <nav id="navbar" class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/">
            <img id="logote" src="/images/Screen Shot 2018-10-30 at 11.39.34.png" href="/" alt="Logo">
          </a>

          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a id="orange" class="navbar-item" href="/sneakers">
            My Profile
            </a>

                <a id="orange" class="navbar-item"href="/logout" > Logout <%= locals.currentUser.username.toUpperCase() %></a>



          </div>
        </div>
      </div>
    </nav>
  </div>

<div id="resize" class="columns is-multiline is-mobile">
  <% sneakers.forEach(sneaker => {%>
    <div class="column is-4-desktop is-4-tablet is-6-mobile">
      <a href="/sneakers/<%= sneaker.id %>">

      <img width="400px" height="400px" src=<%= sneaker.image %> alt=<%= sneaker.name %> />
<h3 id="modelling"><%= sneaker.model %><p>£<%= sneaker.price %></p></h3>
      </a>
    </div>
    <% }) %>
</div>
<% if (locals.isLoggedIn) { %>
<a href="/sneakers/new" id="button"class="button is-rounded">Add more Sneakers...</a>
<% } %>
