
<div class="hero-head">
    <nav id="navbar" class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a>
            <img id="logote" src="/images/Screen Shot 2018-10-30 at 11.39.34.png" href="/" alt="Logo">
          </a>

          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a id="orange" class="navbar-item" href="/sneakers">
              Sneakers
            </a>

            <a id="orange" class="navbar-item" href="/logout" > Logout <%= locals.currentUser.username.toUpperCase() %>
          </a>

          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="wrapper">
      <section class="section">
          <div class="container">
              <div class="columns is-gapless is-vcentered is-mobile is-multiline">

                  <div id="mage" class="column is-6-desktop is-full-mobile has-text-centered">
                      <img src="<%= image %>" alt="<%= model %>">
                      <% if (locals.isLoggedIn) { %>
                        <div class="section columns is-mobile">


<div id="buttons">
                        <div class="column is-one-fifth">
                        <a id="button" class="button is-rounded" href="/sneakers/<%= _id %>/edit">Edit Post</a>
                        </div>
                        <div class="column is-one-fifth">
                        <form action="/sneakers/<%= id %>?_method=DELETE" method="post">
                        <button id="button" class="button is-rounded">Delete Entry</button>

                        </form>
                        </div>
                        </div>
                        </div>
                  </div>

                  <div id="mage2" class="column is-4-desktop is-full-mobile has-text-centered ">
                    <h2 id="orange" class="title is-2"><%= model %></h2>
                    <p id="pricy">Price: £<%= price %></p>
                    <p id="justificado"><strong>Details: </strong><%= description %></p>
                  </div>

              </div>
          </div>
      </section>

  </div>

<hr id="horz">
<section class="section">
<div class="columns  is-vcentered is-mobile is-multiline">
    <%# <div class="column is-half-desktop is-half-tablet is-half-mobile"> %>
    <div id="aligned" class="columns">
    <div class="column is-12 is-offset-4">
    <h2 class="title is-2">Review these Sneakers!</h2>
    <form action='/sneakers/<%= id %>/comments' method="post">
    <div class="field">
    <input name='user' value='<%= locals.currentUser.username %>' hidden/>
    </div>
    <div class="field">
    <label for='rating'>Rate: 1 to 10 </label>
    </div>
    <div class="field">
    <input id="cuadro" name='rating' type='Number' min='1' max='10'/>

    </div>

    <div class="field">
    <label for='content'>wite a Review</label>
</div>
    <textarea id="area" name='content'></textarea>

    <div class="field">
    <button id="button1">Submit</button>
    </div>
    </form>
    </div>
    </div>
  <% } %>

  <div id="reviews" class="columns is-mobile">
    <div class="column is-12-desktop is-full-mobile has-text-centered ">
      <% comments.forEach(comment => { %>
        <div id="caja">
        <div>
        <span><strong><%= comment.user.toUpperCase() %></strong></span>
        </div>
        <div>
        <span id="orange"><%= '★'.repeat(comment.rating) %></span>
        </div>
        <div>
        <span><%= comment.content %></span>
        </div>
        <span>
        <form id="equix" method="POST" action="/sneakers/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
        <button id="extra" class="extra"> ✖︎</button>
        </form>
        </span>
        </div>


      <% }) %>

      </div>
</section>
